body,
html {
  width: 100%;
  height: 100%;
  font-family :  Futura-Pt, sans-serif; 

  background: url(https://wallpapercave.com/wp/wp2315708.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {

  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;


}
.row{

  max-width: 100%;
  width: 100%;
  margin-right: 0;
  margin-left: 0;

}
.m-bar {

  background-color:  rgba(15, 39, 58, .5);
  padding: 1rem;
  width: 100%;
  max-width: 100%;

}

h1{

  font-size: 3rem;
  color: #fd787f;
  background-color: 0f273a;
  /* font-variant-caps: all-petite-caps; */

}

hr {
  margin: 20px auto;
  color: #fd787f;
  border: 2px solid #fd787f;
  max-width: 69px;
  opacity: 1;  
}
.buffer{

  height: 1rem;

}
.btn {

  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;

}

.btn-xl{

  padding: 1rem 2rem;

}

.btn-primary{

  background-color: #ffc238;
  border-color: #ffc238;
}

.btn-primary:hover{

  background-color: #fd787f;
  border-color: #fd787f;
  /* border-width: 4px; */

}